.Recipes{
  position: relative;
  margin-top: 200px;
}


.search-bar {
    display: flex;
    top: -110px;
    left: 50px;  
    margin-bottom: 20px;
    height: 50px;
    margin-top: 2rem;
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 200px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    height: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    
  }
  
